name: Jest Tests

on: [push, pull_request]

jobs:
 test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '14'
          
      - name: Install dependencies
        run: yarn
        
      - name: Run unit tests
        run: yarn run test
        
      - name: Run e2e tests
        run: yarn run test:e2e
